<h1>Editing Bill</h1>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12" id="index-main-button">
<%= link_to '<button type="button" class="btn btn-warning">More</button>'.html_safe, @bill %> <%= link_to '<button type="button" class="btn btn-default">Back</button>'.html_safe, bills_path %>
</div>
</div>
