
<% uid = @icloudcalendarlist[:uid] %>
<% selectoptions = @icloudcalendarlist[:calendars].collect{ |u|
		"<option class='icloud_cal_option'
		value='{\"displayname\": \"#{u[:displayname]}\", \"url\": \"#{u[:href]}\", \"uid\": \"#{uid}\"}'>
		     #{u[:displayname]}</option>" }.join %>
<%= select_tag "calendars[name]", selectoptions.html_safe %>