<h1>New Calendar</h1>

<%= render 'form' %>

<%= link_to 'Back', calendars_path %>
<script>
$(document).on('page:load', function() {
	setApiType(<%= @calendar.apitype %>);
});
$(function(){
	setApiType(<%= @calendar.apitype %>);
});
</script>