<div id='calendarmain' class='white'>
	<section id='cal-container'>
		<script>
		$(document).ready(function() {
		  $('#calendar').fullCalendar({
		    events: [
				<% @appointments.each do |appt| %>
			      {
			      	  id     : '<%= appt.id %>',
		            title  : '<%= appt.description %>',
		            start  : '<%= appt.start_time.strftime("%Y-%m-%d") %>'
		        },
		    <% end %>
		    ],
    		dayClick: function(date, jsEvent, view) {
					$.ajax({
				    url: "/appointments/newappt_calendar_window",
				    type: 'GET'
				  }).done(function(html) {
				  	document.getElementById("appt-modifier").innerHTML = html;
				  })
					// $("#appt-modifier").load("/appointments/new", function(){
     //         $("#content-m").mCustomScrollbar({theme:"minimal"});
     //     	});
				  $('#appt-modifier').each(function(){
				    $(this).resize();
				  });
  			},
  			eventClick: function(calEvent, jsEvent, view) {
					$.ajax({
				    url: "/appointments/" + calEvent.id + "/editappt_calendar_window",
				    type: 'GET'
				  }).done(function(html) {
				  	document.getElementById("appt-modifier").innerHTML = html;
				  })
    		},
    		// defaultView: "basicWeek"
		  })
		});
		</script>
		<div id='calendar'></div>
	</section>
	<aside id='appt-modifier'>
		someasidetext
	</aside>
</div>