// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');
//

h1{
  display: flex;
  justify-content: center;
}

#white {
  position: fixed;
  top: 10%;
  left: 0%;
  height: 85%;
  font-family: sans-serif;
  width: 100%;
  background-color: white;
  margin: 0%;
  overflow: scroll;
}

.row{
  padding-top: 1em;
  padding-left: 1em;
}

#index-main-button{
  padding-bottom: 1em;
}
