// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ie_color_options {
  display: none;
}
.ie_color_sample {
  display: none;
  background-color: #000;
  color: #fff;
}
