// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1{
  display: flex;
  justify-content: center;
}

.row{
  padding-top: 1em;
  padding-left: 1em;
}

#index-main-button{
  padding-bottom: 1em;
}

@media screen and (min-width: 1000px) {
  .client-editor {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .client-editor-field {
    width: 60%;
    padding-top: 15px;
  }

  .client-editor-icon {
    display: flex;
    flex-direction: row;
  }

  .client-editor-input {
    display: flex;
    flex-direction: row;
  }
  .client-editor-name {
    display: flex;
    flex-direction: row;
    width: 95%
  }
}