// .container{
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }
// .loyal {
//   display: flex;
//   color: white;
//   font-family: cursive;
// }
// .logo{
//   display: flex;
// }
//
// .button {
//   display: flex;
//
//   background-color: #21CE99;
// }
// button {
//   background-color: white;
//   color: #5C5757;
// }

#loyal-home{
  color: white;
  font-family: cursive;
  font-size: 60px;
}

#calendarmain{
	display: flex;
	flex-direction: column;
}

.fc-content {
			font-size: 16px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
@media screen and (max-width: 1000px) {
	#cal-container{
		height: 80%;
	}
	#appt-modifier{
		height: 80%;
	}
}

@media screen and (min-width: 1000px) {
	#calendarmain{
		flex-direction: row;
	}
	#cal-container{
		width: 80%;
	}
	#appt-modifier{
		width: 20%;
	}
}