<% content_for :head do %>
  <div class="white editor">
<% end %>
<h3>Editing Appointment</h3>
<br />
<%= render 'form' %>

<div class="row">
  <div class="col-xs-12" id="index-main-button">
<%= link_to '<button type="button" class="btn btn-warning">More</button>'.html_safe, @appointment %> <%= link_to '<button type="button" class="btn btn-default">Back</button>'.html_safe, appointments_path %>
</div>
</div>

<% content_for :foot do %>
  </div>
<% end %>
