<!DOCTYPE html>
<html>
<head>
  <title>Loyal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<button type="button"><a href="https://bryanmg957.auth0.com/v2/logout?returnTo=http://localhost:3000">Log Out</a></button>
<%= yield %>
<%# if Rails.env.development? %>
  <%# console %>
<%# end %>
</body>
</html>
